@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: "Prompt", "Inter", sans-serif;
}
.font-headline {
  font-family: "Manrope", "Prompt", sans-serif;
}

::-webkit-scrollbar { width: 6px; height: 6px; }
::-webkit-scrollbar-track { background: #f1f1f1; }
::-webkit-scrollbar-thumb { background: #c1c1c1; border-radius: 10px; }
